spring:
  application:
    name: flash-sale-engine
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:flashsale}}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:k6226}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 20000
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6380}
      password: ${REDIS_PASSWORD:}
      timeout: 5000ms
      ssl:
        enabled: ${REDIS_SSL:true}
      connect-timeout: 10000ms
      lettuce:
        pool:
          enabled: false
        shutdown-timeout: 100ms

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
    com.flashsale: INFO
    org.springframework.data.redis: WARN
    org.hibernate.SQL: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always