spring:
  application:
    name: flash-sale-engine
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/flashsale}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:k6226}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always